@mixin make-centerer() {
  width: 940px;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  margin: 0 auto;
}

@mixin make-gradient($startColor, $endColor, $endPercentage) {
  background: linear-gradient(
    to top,
    $startColor,
    $endColor $endPercentage
  );
}

@mixin make-fade($delay) {
  &-enter-active,
  &-leave-active {
    transition: opacity $delay;
  }
  &-enter,
  &-leave-active {
    opacity: 0;
  }
}

@mixin visually-hidden() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}